<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!--Creating a DB user : https://www.youtube.com/watch?v=mwqo7kbUuWQ -->
	<connectionStrings>
  <add name="conStringRilindKafiqi" connectionString="Data Source=. ;Initial Catalog=Kafiteria ;Persist Security Info=True;User Id=Rilind;Password=1234567890;"
   providerName="System.Data.SqlClient" />
  <add name="MenaxhimiKafiteris.Properties.Settings.KafiteriaConnectionString"
   connectionString="Data Source=.;Initial Catalog=Kafiteria;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>


