<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!--Creating a DB user : https://www.youtube.com/watch?v=mwqo7kbUuWQ -->
	<connectionStrings>
		<!--<add name="conStringRilindKafiqi"
				 connectionString="Data Source=. ;Initial Catalog=Kafiteria ;Persist Security Info=True;User Id=Rilind;Password=1234567890;"
			 providerName="System.Data.SqlClient"/>-->
		<add name="conStringBardhi"
				 connectionString="Data Source=LENOVO-IDEAPAD ;Initial Catalog=Kafiteria2 ;Persist Security Info=True;User Id=bardhi;Password=12345;"
			 providerName="System.Data.SqlClient"/>
		<!--<add name="conStringBulza"
				 connectionString="Data Source=LENOVO-IDEAPAD ;Initial Catalog=Kafiteria ;Persist Security Info=True;User Id=bulza;Password=12345;"
			 providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
</configuration>


