<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!--Creating a DB user : https://www.youtube.com/watch?v=mwqo7kbUuWQ -->
	<connectionStrings>
		<add name="conStringRilindKafiqi"
				 connectionString="Data Source=. ;Initial Catalog=Kafiqi_experiment ;Persist Security Info=True;User Id=Rilind;Password=1234567890;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>


